<head th:fragment="head">
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta content="Codescandy" name="author" />
	<title>Cửa hàng tiện lợi Tune Vibe</title>

	<link th:href="@{./assets/libs/slick-carousel/slick/slick.css}"
		rel="stylesheet" />
	<link th:href="@{./assets/libs/tiny-slider/dist/tiny-slider.css}"
		rel="stylesheet" />

	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/x-icon"
		th:href="@{./assets/images/favicon/favicon.ico}" />

	<!-- Libs CSS -->
	<link th:href="@{./assets/libs/bootstrap-icons/font/bootstrap-icons.min.css}"
		rel="stylesheet" />
	<link th:href="@{./assets/libs/feather-webfont/dist/feather-icons.css}"
		rel="stylesheet" />
	<link th:href="@{./assets/libs/simplebar/dist/simplebar.min.css}"
		rel="stylesheet" />

	<!-- Theme CSS -->
	<link rel="stylesheet" th:href="@{./assets/css/theme.min.css}" />
	<script async
		th:src="@{https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-M8S4MT3EYG");
	</script>
	<script type="text/javascript">
		(function(c, l, a, r, i, t, y) {
			c[a] = c[a] || function() {
				(c[a].q = c[a].q || []).push(arguments);
			};
			t = l.createElement(r);
			t.async = 1;
			t.src = "https://www.clarity.ms/tag/" + i;
			y = l.getElementsByTagName(r)[0];
			y.parentNode.insertBefore(t, y);
		})(window, document, "clarity", "script", "kuc8w5o9nt");
	</script>
	<script th:src="@{/js/Home.js}"></script>
</head>