<div th:fragment="script">
	<!-- Javascript-->
	<script th:src="@{./assets/js/Stores.js}"></script>
	<script th:src="@{./assets/js/Home.js}"></script>
	<script th:src="@{./assets/js/Cart.js}"></script>
	
	<!-- Libs JS -->
	<!-- <script th:src="@{./assets/libs/jquery/dist/jquery.min.js}"></script> -->
	<script th:src="@{./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{./assets/libs/simplebar/dist/simplebar.min.js}"></script>
	<script>loadAllProduct();</script>
	<script>loadAllStore();</script>
	<script>getCartbefore();</script>
	<script>getUser();</script>
	<!-- Theme JS -->
	
	<script th:src="@{./assets/js/theme.min.js}"></script>
	<script th:src="@{./assets/js/vendors/jquery.min.js}"></script>
	<script th:src="@{./assets/js/vendors/countdown.js}"></script>
	<script th:src="@{./assets/libs/slick-carousel/slick/slick.min.js}"></script>
	<script th:src="@{./assets/js/vendors/slick-slider.js}"></script>
	<script th:src="@{./assets/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
	<script th:src="@{./assets/js/vendors/tns-slider.js}"></script>
	<script th:src="@{./assets/js/vendors/zoom.js}"></script>
</div>