<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{web/layout-web.html}">
<head th:replace="~{web/fragments/head::head}">
</head>
<body>
<div layout:fragment="content_web">
	<!-- navbar -->
	<div class="border-bottom">

		<div class="py-5">
			<div class="container">
				<div class="row w-100 align-items-center gx-lg-2 gx-0">

					<!-- LOGO -->
					<div class="col-xxl-2 col-lg-3 col-md-6 col-5">
						<a class="navbar-brand d-none d-lg-block" th:href="@{/}">
							<img th:src="@{./assets/images/logo/convenience-store-svgrepo-com.svg}" />
						</a>
						<div class="d-flex justify-content-between w-100 d-lg-none">
							<a class="navbar-brand" th:href="@{/}"> <img
								th:src="@{./assets/images/logo/convenience-store-svgrepo-com.svg}" />
							</a>
						</div>
					</div>


					<div class="col-xxl-5 col-lg-5 d-none d-lg-block">
						<form action="#">
							<div class="input-group">
								<input class="form-control rounded" type="search"
									placeholder="Tìm kiếm sản phẩm" /> <span
									class="input-group-append">
									<button
										class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
										type="button">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" class="feather feather-search">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65"
												y2="16.65"></line>
                                 </svg>
									</button>
								</span>
							</div>
						</form>
					</div>
					<div class="col-md-2 col-xxl-3 d-none d-lg-block">
						<!-- Button trigger modal -->
						<button id="btnStore" type="button"
							class="btn btn-outline-gray-400 text-muted"
							data-bs-toggle="modal" data-bs-target="#locationModal">
							<i class="feather-icon icon-map-pin me-2"></i> Chọn cửa hàng gần
							bạn
						</button>
					</div>
					<div class="col-lg-2 col-xxl-2 text-end col-md-6 col-7">
						<div class="list-inline">
							<div class="list-inline-item me-5"></div>
							<div class="list-inline-item me-5">
								<div class="text-muted" onclick="isSignin()">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
										viewBox="0 0 24 24" fill="none" stroke="currentColor"
										stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="feather feather-user">
                                 <path
											d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                 <circle cx="12" cy="7" r="4"></circle>
                              </svg>
								</div>
							</div>
							<div class="list-inline-item me-5 me-lg-0">
								<a class="text-muted position-relative"
									data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
									th:href="@{#offcanvasExample}" role="button"
									aria-controls="offcanvasRight" onclick="showAddress()"> <svg
										xmlns="http://www.w3.org/2000/svg" width="20" height="20"
										viewBox="0 0 24 24" fill="none" stroke="currentColor"
										stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="feather feather-shopping-bag">
                                 <path
											d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                 <line x1="3" y1="6" x2="21" y2="6"></line>
                                 <path d="M16 10a4 4 0 0 1-8 0"></path>
                              </svg>

								</a>
							</div>
							<div class="list-inline-item d-inline-block d-lg-none">
								<!-- Button -->
								<button class="navbar-toggler collapsed" type="button"
									data-bs-toggle="offcanvas" data-bs-target="#navbar-default"
									aria-controls="navbar-default" aria-label="Toggle navigation">
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
										fill="currentColor"
										class="bi bi-text-indent-left text-primary"
										viewBox="0 0 16 16">
                                 <path
											d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                              </svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav
			class="navbar navbar-expand-lg navbar-light navbar-default py-0 pb-lg-4"
			aria-label="Offcanvas navbar large">
			<h1>NAVVVVV</h1>
			<div class="container">
				<div class="offcanvas offcanvas-start" tabindex="-1"
					id="navbar-default" aria-labelledby="navbar-defaultLabel">
					<div class="offcanvas-header pb-1">
						<a th:href="@{/}"><img
							th:src="@{./assets/images/logo/freshcart-logo.svg}"
							alt="eCommerce HTML Template" /></a>
						<button type="button" class="btn-close"
							data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<div class="d-block d-lg-none mb-4">
							<form action="#">
								<div class="input-group">
									<input class="form-control rounded" type="search"
										placeholder="Search for products" /> <span
										class="input-group-append">
										<button
											class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
											type="button">
											<svg xmlns="http://www.w3.org/2000/svg" width="16"
												height="16" viewBox="0 0 24 24" fill="none"
												stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round"
												class="feather feather-search">
                                       <circle cx="11" cy="11" r="8"></circle>
                                       <line x1="21" y1="21" x2="16.65"
													y2="16.65"></line>
                                    </svg>
										</button>
									</span>
								</div>
							</form>
							<div class="mt-2">
								<button type="button"
									class="btn btn-outline-gray-400 text-muted w-100"
									data-bs-toggle="modal" data-bs-target="#locationModal">
									<i class="feather-icon icon-map-pin me-2"></i> Pick Location
								</button>
							</div>
						</div>
						<div class="d-block d-lg-none mb-4">
							<a
								class="btn btn-primary w-100 d-flex justify-content-center align-items-center"
								data-bs-toggle="collapse" th:href="@{#collapseExample}" role="button"
								aria-expanded="false" aria-controls="collapseExample"> <span
								class="me-2"> <svg xmlns="http://www.w3.org/2000/svg"
										width="16" height="16" viewBox="0 0 24 24" fill="none"
										stroke="currentColor" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round"
										class="feather feather-grid">
                                 <rect x="3" y="3" width="7" height="7"></rect>
                                 <rect x="14" y="3" width="7" height="7"></rect>
                                 <rect x="14" y="14" width="7"
											height="7"></rect>
                                 <rect x="3" y="14" width="7" height="7"></rect>
                              </svg>
							</span> All Departments
							</a>
							<div class="collapse mt-2" id="collapseExample">
								<div class="card card-body">
									<ul class="mb-0 list-unstyled">
										<li><a class="dropdown-item"
											th:href="@{./pages/shop-grid.html}">Dairy, Bread & Eggs</a></li>
										<li><a class="dropdown-item"
											th:href="@{./pages/shop-grid.html}">Snacks & Munchies</a></li>
										<li><a class="dropdown-item"
											th:href="@{./pages/shop-grid.html}">Fruits & Vegetables</a></li>
										<li><a class="dropdown-item"
											th:href="@{./pages/shop-grid.html}">Cold Drinks & Juices</a></li>
										<li><a class="dropdown-item"
											th:href="@{./pages/shop-grid.html}">Breakfast & Instant Food</a></li>
										<li><a class="dropdown-item"
											th:href="@{./pages/shop-grid.html}">Bakery & Biscuits</a></li>
										<li><a class="dropdown-item"
											th:href="@{./pages/shop-grid.html}">Chicken, Meat & Fish</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
	
	<!-- Modal Đky/Đnhập tài khoản-->
	<div class="modal fade" id="userModal" tabindex="-1"
		aria-labelledby="userModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content p-4">
				<div class="modal-header border-0">
					<h5 class="modal-title fs-3 fw-bold" id="userModalLabel">Đăng
						ký tài khoản</h5>

					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="needs-validation" novalidate>
						<div class="mb-3">
							<label for="fullName" class="form-label">Tên đăng nhập</label> <input
								type="text" class="form-control" id="fullName"
								placeholder="Enter Your Name" required />
							<div class="invalid-feedback">Vui lòng nhập tên của bạn</div>
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Địa chỉ Email</label> <input
								type="email" class="form-control" id="email"
								placeholder="Enter Email address" required />
							<div class="invalid-feedback">Vui lòng nhập địa chỉ Emai</div>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Mật khẩu</label> <input
								type="password" class="form-control" id="password"
								placeholder="Enter Password" required />
							<div class="invalid-feedback">Vui lòng nhập mật khẩu</div>
							<small class="form-text"> Bằng cách tiếp tục, bạn đồng ý
								với <a th:href="@{#!}">Điều Khoản Sử Dụng</a> và <a th:href="@{#!}">Điều
									Khoản Bảo Mật</a> của chúng tôi.
							</small>
						</div>

						<button type="submit" class="btn btn-primary">Đăng
							ký</button>
					</form>
				</div>
				<div class="modal-footer border-0 justify-content-center">
					Bạn đã có tài khoản? <a th:href="@{./pages/signin.html}">Đăng nhập</a>
					<!-- <a th:href="@{#}">Sign in</a> -->
				</div>
			</div>
		</div>
	</div>

	<!-- Shop Cart -->

	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
		aria-labelledby="offcanvasRightLabel">
		<div class="offcanvas-header border-bottom">
			<div class="text-start">
				<h5 id="offcanvasRightLabel" class="mb-0 fs-4">Giỏ hàng</h5>
				<small id="address-text">Giao tới: </small>
			</div>
			<button type="button" class="btn-close text-reset"
				data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div>
				<!-- alert -->

				<ul class="list-group list-group-flush" id="cart-list">

				</ul>
				<!-- btn -->
				<div class="d-flex justify-content-between mt-4">
					<!-- Sửa nút Thanh toán -->
					<a th:href="@{userorder.html}" class="btn btn-primary">Thanh toán</a>

					<!-- Nút Xóa giỏ hàng -->
					<div class="btn btn-dark" onclick="deleteAllCart()">Xóa giỏ
						hàng</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Chọn địa chỉ mua hàng-->
	<div class="modal fade" id="locationModal" tabindex="-1"
		aria-labelledby="locationModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body p-6">
					<div class="d-flex justify-content-between align-items-start">
						<div>
							<h5 class="mb-0" id="locationModalLabel">Cửa hàng</h5>
							<p class="mb-0 small">Vui lòng chọn cửa hàng gần bạn</p>
						</div>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div>
						<div>
							<div data-simplebar style="height: 300px">
								<div class="list-group list-group-flush" id="storeContainer">
									<!-- Sẽ được cập nhật bởi Servlet -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{./assets/js/vendors/validation.js}"></script>

	<main th:replace="~{web/fragments/main::main}"></main>

	<!-- Modal -->
	<div class="modal fade" id="quickViewModal" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body p-8">
					<div class="position-absolute top-0 end-0 me-3 mt-3">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<!-- img slide -->
							<div class="product productModal" id="productModal">
								<div class="zoom" onmousemove="zooming(event)"
									onmouseout="resetZoom()"
									style="background-image: url(./assets/images/products/product-single-img-1.jpg)">
									<!-- img -->
									<img id="img-zoom"
										th:src="@{./assets/images/products/product-single-img-1.jpg}" alt=""
										style="background-color: white;" />
								</div>
							</div>
						</div>
						<div id="is-sold-out" class="position-absolute top-4 start-4"
							hidden>
							<h3>
								<span class="badge bg-danger">Hết hàng</span>
							</h3>
						</div>
						<div id="is-free" class="position-absolute top-4 start-4" hidden>
							<h3>
								<span class="badge bg-success">Miễn phí</span>
							</h3>
						</div>
						<div class="col-lg-6">
							<div class="ps-lg-8 mt-6 mt-lg-0">
								<small id="item-tag" class="mb-1 d-block">Error</small>
								<h2 id="item-name" class="mb-1 h2">Error</h2>
								<div class="fs-4">
									<span id="item-price" class="fw-bold text-dark">Error
										VNĐ</span>
								</div>
								<hr class="my-2" />
								<div>
									<!-- input -->
									<!-- input -->
									<div class="input-group input-spinner">
										<input type="button" value="-" class="button-minus btn btn-sm"
											data-field="quantity" /> <input type="number" step="1"
											max="10" value="1" name="quantity" id="modal-quantity"
											class="quantity-field form-control-sm form-input" /> <input
											type="button" value="+" class="button-plus btn btn-sm"
											data-field="quantity" />
									</div>
								</div>
								<div
									class="mt-3 row justify-content-start g-2 align-items-center">
									<div class="col-lg-15 col-md-5 col-6 d-grid"
										onclick="addCart2()" data-bs-dismiss="modal">
										<!-- button -->
										<!-- btn -->
										<button id="item-btn" type="button" class="btn btn-primary">
											<i class="feather-icon icon-shopping-bag me-2"></i> Thêm vào
											giỏ hàng
										</button>
									</div>
								</div>
								<hr class="my-6" />
								<div>
									<table class="table table-borderless">
										<tbody>
											<tr>
												<td>Mã sản phẩm:</td>
												<td id="item-id">Error</td>
											</tr>
											<tr>
												<td>Số lượng:</td>
												<td id="item-quantity">Error</td>
											</tr>
											<tr>
												<td>Đơn vị tính:</td>
												<td id="item-type">Error</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>